body {
    background-attachment: fixed;
    background-color: rgb(207, 66, 239);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(220, 220, 220, 0.75);
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

header a {
    text-decoration: none;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
}